body{
        font-family: 'Lustria', serif;
        background: url("http://imgur.com/wnGAXc6.jpg");
        background-size: 3000px;
        background-repeat:no-repeat:;
        background-position:top;
        }

#id:hover

#content{
        color: #ffffff;
}
#nav-container{
        background: url("http://imgur.com/CMxREnW.jpg");
        background-position:middle;
        position: fixed;
        width:100%;
}

/*TOP NAV*/
#top-nav{
        margin: 0 auto;
        width: 390px
}
#top-nav ul{
        
}

#top-nav ul li{
        display: block;
        float: left;
        
}
#top-nav ul li a{
        border-radius: 30px;
        color:#ffffff;
        display: block;
        font-size: 16px;
        font-weight: 100;
        height: 35px;
        line-height: 35px;
        margin: 8px 6px;
        padding: 0 5px;
        text-align: center;
        text-decoration: none;
        width: 60px;
}

#top-nav img{
        border:2px solid #333333;

        background: url("http://imgur.com/iVXc4u1");
        width:50px;
        border-radius:50px;

}

#top-nav ul li a:link{

}
#top-nav ul li a:visited{
        background:#333333
}
#top-nav ul li a:hover{
        background:#777777;
}
#top-nav ul li a:active{
}


/*ABOUT*/
#about{
        padding:60px;
        text-align: center;
        color: yellow;
        background: url("http://imgur.com/3cxu0Ca.jpg");
        background-size: 1000px;
        background-repeat:no-repeat:;
        background-position:top;
}
#about h1{
        background: #000000;
        font-size: 20px;
}
#about p{
        background: #333333;
        color: white;
}

#about img{
        border:2px solid #333333;
        background: url("http://imgur.com/iVXc4u1");
        background-size: 600px;
        width:400px;
        border-radius:100px;
}

#portrait{
}




/*Video*/
#videos{
        color:white;
        margin: 75px auto;
}
.video header a{
        color:Yellow;
        font-size: 14pt;
        text-align: center;
        margin: 75px auto;
}
#video h2{
        text-transform: bold;
        padding-bottom: 50px;

}
#video p{
        color: white;
}




/*Comments*/
#comments{
        padding:60px;
        text-align: center;
        color: yellow;
        background: url("http://imgur.com/CMxREnW.jpg");
        background-size: 1000px;
        background-repeat:no-repeat:;
        background-position:top;
            
}

#comments h1{
        color:red;
        font-size: 16pt;
        text-align: center;
}

#comments p{
        color:white;
        text-align: center;
}


#comments input{
        border: 0;
        padding: 8px;
        font-size: 16px;
}

#comments input[type="submit"]{
        background: red;
        color: white;
}

